/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

.region-sidebar-first {
	background-color:#fff;
}

.logo img{
	width:100%;
	height:auto;

}

.logo {
	float:none !important;
}

.form-item-title {
	width: 200px;
}

.page-header {
	border-bottom:none;
}

.form-type-radio {
	float: left;
	margin: 10px 10px;
}

.radio+.radio, .checkbox+.checkbox {
	margin-top: 0;
}

.abc {
	margin-bottom: 50px;
}
.vertical-tabs {
	display: none;
}

.row {
	margin-top:20px;
}

.region-sidebar-first {
	border:none;
}


/*======================================================
RIGHT SIDE STYLE
==========================================================*/


.review-card {

	padding: 2%;
	background: rgba(217,179,104, 0.8);
	width: 30%;
	margin:1.5%;
	height: 200px;
	box-shadow: 0 2px 0px rgba(100,54,41, 0.5)

}

.review-card a {
	text-decoration: none;
	color: rgb(100,54,41);

}

.views-field-field-roast {
	font-size: 24px;
	text-align: center;
	margin-bottom: 5px;
}
.views-field-title {
	display: none;
}

.views-field-body {
	font-size: 14px;
	text-align: center;
	padding: 5px;
	width: 95%;
	float: left;
}

.views-field-body:before {
	content: open-quote;
	color: rgb(100,54,41);
	font-size: 30px;
	display: inline;
	float: left;
	width: :;
}

.views-field-body:after {
	content: close-quote;
	color: rgb(100,54,41);
	font-size: 30px;
	display: inline;
	width: 2.5%;
}

svg {
	width: 20%;
	margin: 2px auto;
	fill: rgb(100,54,41);
	height: 44px;
	text-align: center;

}
